<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Alogic Playground</title>
  <link rel="stylesheet" href="main.css">
</head>

<body id="indexPage">
  <module href="/components/header.html"></module>

  <div class="toolbar">
    <span><input id="newInputTab" type="button" value="Add file"></span>
    <span><p>Command line arguments:</p></span>
    <span class="flexBypass"><input id="cliArgs" type="text"></span>
    <span><input id="compileButton" type="button" value="Compile"></span>
    <span><input id="shareButton" type="button" value="Share"></span>
  </div>

  <div class="maincontent">
  </div>

  <div style="display: none;">
    <div id="sharePopover">
      <input type="text" placeholder="Loading" readonly>
      <button type="button" title="Copy to clipboard" data-clipboard-target="#sharePopover input">
        <span class="fas fa-clipboard"></span>
      </button>
    </div>
  </div>

  <module href="/components/footer.html"></module>

  <script src="bundle.js"></script>
</body>

</html>
