<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Alogic Playground</title>
  <link rel="stylesheet" href="main.css">
</head>

<body id="indexPage">
  <module href="/components/header.html"></module>

  <div class="toolbar">
    <span><input id="newInputTab" type="button" value="Add file"></span>
    <span><p>Command line arguments:</p></span>
    <span class="flexBypass"><input id="cliArgs" type="text"></span>
    <span><input id="compileButton" type="button" value="Compile"></span>
  </div>

  <div class="maincontent">
  </div>

  <input class="tabNameInput" type="text">

  <module href="/components/footer.html"></module>

  <module href="/components/busy-overlay.html"></module>

  <script src="bundle.js"></script>
</body>

</html>
