<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Alogic Playground Privacy & Legal</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <module href="/components/header.html"></module>

  <div class="maincontent">
    <p>
      This website logs activity, recording date/time, IP address and Alogic
      designs entered.
    </p>
    <p>
      We use this information for debugging and program improvement. We will
      not share information with third parties and will only disclose
      identifying information if forced to do so by a court order from an
      English court.
    </p>
    <a href="/"><< Back</a>
  </div>

  <module href="/components/footer.html"></module>

  <script src="bundle.js"></script>
</body>

</html>
