/* General CSS */

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin: 0 auto;
  background-color: white;
}

.maincontent {
  flex: 1;
}

a {
  color: gray;
}

.flexBypass {
  display: flex;
  flex-grow: 1;
}

/* Header */

div.header {
  color: #ffffff;
  font-size: 12pt;
  background-color: #cc092f;
  padding: 10px;
  margin-bottom: 5px;
}
div.header h2 {
  font-weight: bold;
  margin: 0px;
}
div.header h2 a {
  color: #ffffff;
  text-decoration: none;
}

/* Toolbar */

.toolbar {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 10pt;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.toolbar p {
  display: inline;
  margin: 0px;
}

.toolbar input {
  display: inline;
  margin: 0px;
}

.toolbar #cliArgs {
  flex-grow: 1;
}

.toolbar span + span {
  margin-left: 5px;
}

/* Footer */

footer {
  flex-shrink: 0;
  padding: 5px;
  color: gray;
  font-size: 9pt;
}
footer table {
  width: 100%;
  border-collapse: collapse;
}
footer td {
  vertical-align: top;
  padding: 0px;
}
footer p {
  margin: 0px;
}
td.footerRight {
  text-align: right;
}

/* Tab name input */

.tabNameInput {
  position: absolute;
  visibility: hidden;
  z-index: 900;
}

.tabNameInput.show {
  visibility: visible;
}
