/* General CSS */

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin: 0 auto;
  background-color: white;
}

.maincontent {
  flex: 1;
}

a {
  color: gray;
}

.flexBypass {
  display: flex;
  flex-grow: 1;
}

/* Header */

div.header {
  color: #ffffff;
  font-size: 12pt;
  background-color: #cc092f;
  padding: 10px;
  margin-bottom: 5px;
}
div.header h2 {
  font-weight: bold;
  margin: 0px;
}
div.header h2 a {
  color: #ffffff;
  text-decoration: none;
}

/* Toolbar */

.toolbar {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 10pt;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.toolbar p {
  display: inline;
  margin: 0px;
}

.toolbar input {
  display: inline;
  margin: 0px;
}

.toolbar #cliArgs {
  flex-grow: 1;
}

.toolbar span + span {
  margin-left: 5px;
}

/* Footer */

footer {
  flex-shrink: 0;
  padding: 5px;
  color: gray;
  font-size: 9pt;
}
footer table {
  width: 100%;
  border-collapse: collapse;
}
footer td {
  vertical-align: top;
  padding: 0px;
}
footer p {
  margin: 0px;
}
td.footerRight {
  text-align: right;
}

/* Busy overlay */

.busyOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.busySpanner {
  position: absolute;
  top: 50%;
  left: 0;
  background: #2a2a2a55;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #ffffff;
  transform: translateY(-50%);
  z-index: 2000;
}

.busyOverlay, .busySpanner {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}

.busyOverlay.show, .busySpanner.show {
  opacity: 1;
  visibility: visible;
}

.busyLoader,
.busyLoader:before,
.busyLoader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.busyLoader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.busyLoader:before,
.busyLoader:after {
  content: '';
  position: absolute;
  top: 0;
}
.busyLoader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.busyLoader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Tab name input */

.tabNameInput {
  position: absolute;
  visibility: hidden;
  z-index: 900;
}

.tabNameInput.show {
  visibility: visible;
}
